*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    padding: 48px;
    font-size: 24px;
}

.form{
    display: flex;
    gap: 8px;

}

.form > input{
    padding: 24px;
}